* {
	box-sizing: border-box;
}

.department {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	border-radius: 0px 0px 2px 2px;
	float: left;
	padding: 3px;
	margin-bottom: 10px;
}

.department-tweets, .department-news, .department-administrator-tweets {
	width: 220px;
	float:left;
	margin: 5px;
}

.department-news {
	font-size: 12px;

}

.department-news-content {
	margin-top: 10px;
	border: 1px solid rgb(225, 232, 237);
	background-color: white;
	border-radius: 4px;
}


.department-seal {
	width: 40px;
	display: inline-block;
	vertical-align: middle;
}
.department-name {
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
}

.department-header {
	border-bottom: 1px solid rgb(225, 232, 237);
}
.department-administrator {
	width: 100%;
	padding-bottom: 10px;
}
.department-administrator-img {
	margin-left: 30px;
	max-width: 20px;
	vertical-align: middle;
}
.department-administrator-name, .department-administrator-title {
	font-size: 10px;
}