* {
	box-sizing: border-box;
}
body {
	background-color: #e0e0e0;
	font-family: 'Lora', serif;
	letter-spacing: 0.02em;
}
.department {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	border-radius: 0px 0px 2px 2px;
	margin-bottom: 20px;
	background-color: white;
	max-width: 875px;
	margin-right: auto;
	margin-left: auto;
}
.department-news {
	padding: 10px;
	margin: 0 auto;
	max-width: 800px;
	max-height: 350px;
	overflow: scroll;
}
.department-tweets-container, .department-news-container {
	display: inline-block;
	height: 100%;
}
.department-tweets-container {
	vertical-align: top;
	max-height: 300px;
	padding: 10px;
}

.department-news-container {
	font-size: 13px;
	font-weight: bold;
	max-width: 450px;
	margin-right: 10px;
}
.news-results-header {
	margin-bottom: 15px;
	margin-top: 5px;
}
.result-count {
	width: 85px;
	display: inline-block;
	text-align: center;
}
.next-page, .previous-page {
	border: 0;
	font-size: 16px;
	color: rgb(53, 78, 117);
}
.next-page:disabled, .previous-page:disabled {
	color:#e0e0e0;
}

.article {
	margin-bottom: 5px;
	display: block;
	overflow: hidden;
}

.summarize {
	background:rgba(252, 156, 2, 0.95);
	font-size: 11px;
	padding: 4px 6px 4px 6px;
	text-decoration: none;
	visibility: hidden;
	margin-left: 7px;
	width: 75px;
	border: 0;
	float: left;
}

.summarize:hover {
  text-decoration: none;
  color: white;
}

.article:hover .summarize {
	visibility: visible;
}

.article .image-container {
	min-width: 50px;
	max-width: 50px;
	max-height: 50px;
	margin-right: 15px;
	float: left;
}

.article img {
	max-width: 100%;
	max-height: 100%;
}
.article .title-container {
	max-width: 375px;
	float: left;
	vertical-align: middle;
}

.department-news-container a:link, a:visited {
	text-decoration: none;
	color: #444;
}
.department-news-container a:hover {
	text-decoration: underline;
}



.department-header {
	padding: 10px;
	background-color: rgb(53, 78, 117);
	color: white;

}
.department-seal {
	width: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.department-name {
	font-weight: bold;
	font-size: 24px;
	display: inline-block;
}

.summary-window {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	border: solid 1px rgb(66, 67, 68);
	color: #444;
	max-height: 100%;
	overflow: scroll;
}

.summary-header {
	background:rgba(252, 156, 2, 0.99);
}

.summary-header .summary-title {
	font-size: 13px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.summary-header .summary-title a {
	text-decoration: none;
	color: #444;
}
.summary-header a:hover {
	text-decoration: underline;
}

.summary-nav {
	width: 100%;
	background-color: rgb(66, 67, 68);
	height: 20px;
}
.summary-nav .close-summary {
	position: fixed;
	top: 4px;
	right: 0;
	font-size: 10px;
	height: 12px;
	width: 15px;
	background-color: transparent;
	color: white;
	border: 0;
	margin-right: 10px;
}
.summary {
	font-size: 12px;
	background:rgba(252, 156, 2, 0.98);
	padding: 20px;
	overflow: scroll;
}
.summary-img {
	max-width: 75%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

.summary ul {
	padding: 0;
	margin: 0;
}
.summary li {
	list-style-type: none;
	margin-bottom: 10px;
}

@media (min-width: 400px) {
	.summary-window {
		left: auto;
		right: 0;
		width: 400px;
	}
}